@import "variables.scss";

.catalog-wrapper {

  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 30px;

}

.cart {

  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  &__title {

    border-bottom: 1px solid #eee;
    padding-bottom: 20px;

  }

  &__item {

    margin: 0 20px;
    display: flex;

  }

  &-item {

    &__image {

      display: flex;
      height: 100%;
      width: 230px;
      margin-right: 15px;

    }

    &__quantity {

      margin-top: 15px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: left;

    }

    &__info {

      display: flex;
      flex-direction: column;

    }

    &-info {

      &__name {

        margin: 15px 0 0 0;
        text-align: left;

      }

      &__price {

        margin: 10px 0 0 0;
        text-align: left;
        font-weight: 600;
        font-size: 18px;

      }

      &__delete {

        margin-top: 15px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
        color: white;
        background: #3366CC;
        border: 0;
        padding: 10px 30px;
        max-width: 160px;
        border-radius: 10px;
        cursor: pointer;

      }

    }

  }

}

.catalog {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;

  &__item {

    display: flex;
    flex-direction: column;
    flex-basis: 29%;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    border: 1px solid #eee;
    padding: 15px;

  }

  &-item {

    &__name {

      min-height: 38px;
      margin: 20px 0 0 0;

    }

    &__button {

      text-transform: uppercase;
      font-size: 10px;
      font-weight: 600;
      color: white;
      background: #3366CC;
      border: 0;
      padding: 10px 30px;
      max-width: 160px;
      border-radius: 10px;
      cursor: pointer;

    }

    &__button:hover {

      background: #3366ccd9;;

    }

  }

}